<ion-view title="葫芦里！" >

  <ion-content  class="index">

      <!-- Carousel  -->
      <div class="Carousel">
      <ion-slide-box does-continue="true" auto-play="true">
          <ion-slide>
              <img ng-src="img/1.jpg">
          </ion-slide>

          <ion-slide>
              <img ng-src="img/2.jpg">
          </ion-slide>

      </ion-slide-box>
      </div>

      <div class="kinds">
          <div class="title">
              <h2>热门分类</h2>
          </div>
          <div class="classify">
               <div class="circle">日常</div>
               <div class="circle">其它</div>
               <div class="circle">运动</div>
               <div class="circle">交通</div>
          </div>
      </div>

      <div class="recommond">
          <div class="title">
              <h2>商品推荐</h2>
          </div>
          <div class="commodity">
              <div class="recommending">
                  <div>
                      <img ng-src="img/box.jpg">
                      <div class="detail">
                          <div class="desc">卖东西啊</div>
                          <div class="price">￥199</div>

                      </div>
                  </div>
              </div>
              <div class="recommending">
                  <div>
                      <img ng-src="img/box.jpg">
                      <div class="detail">
                          <div class="desc">卖东西啊</div>
                          <div class="price">￥199</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
